var/
media/
app/etc/local.xml
.project
*.sublime-project
*.sublime-workspace
*.tmproj
*.bak
*.swp
*~.nib
/errors/
/install.php
/lib/Zend/
/lib/Varien/
/LICENSE*
/media/
/php.ini.sample
/pkginfo/
/RELEASE_NOTES.txt
/var/
/upload/
